<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% @articles.each do |article| %>
        <li><%= article %></li>
        <% end %>
      </ul>
  </body>
</html>
